<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link class="icon" rel="shortcut icon" type="image/png" href="/picSource/icon2.png" />
    <link href="/style/main.css" rel="stylesheet" />
    <title>WibuWorld</title>
</head>

<body>
    <div class="v2_3">
        <div class="v4_599"> </div>
     
            <span class="v4_597">Anime Entertainment</span>
            <span class="v4_598">WibuWorld</span>
            <span class="button-location">
                <form action="/home">
                    <button class="learn-more">
                        <span class="icon arrow"></span>
                        <span aria-hidden="true" class="circle">
                        </span>
                        <span class="button-text">click to play</span>
                    </button>
                </form>
            </span>
            <span>
                <img src="/picSource/Rem-astrum-sprite-normal.png" alt="" srcset="">
            </span>

    </div>
</body>

</html>